<div
  class="{{ collapseOpen }} transition-[max-height] sm:hidden"
  id="mobile-menu"
>
  <div class="space-y-1 px-2 pb-3 pt-2">
    <a href="#" class="mobile-menu-active" aria-current="page">Dashboard</a>
    <a href="#" class="mobile-menu">Team</a>
    <a href="#" class="mobile-menu">Projects</a>
    <a href="#" class="mobile-menu">Calendar</a>
    <hr />
    <a href="#" class="mobile-menu">Your Profile</a>
    <a href="#" class="mobile-menu">Settings</a>
    <a
      [routerLink]="['/login']"
      routerDirection="forward"
      replaceUrl="true"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="signOut()"
      class="mobile-menu"
    >
      Sign out
    </a>
  </div>
</div>
