<div
  contentId="main-content"
  class="container mx-auto"
  *ngIf="session; else auth"
>
  <div class="flex flex-row">
    <div class="flex-auto">
      <app-topnav> </app-topnav>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-4">
    <div class="col-start-2 col-span-4">
      <app-account [session]="session"></app-account>
    </div>
    <div class="col-start-1 col-end-7">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-start-1 col-end-7">04</div>
  </div>
</div>
<ng-template #auth> Loading... </ng-template>
